<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"  />
<title>jquery顶部固定层下拉导航 - 站长素材</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript"  src="js/nav.js"></script>
</head>
<body>

<div id="top_bg">
	<div class="top">
		<a class="logo_l" href="/" title="返回首页"></a>
		<!--导航开始-->
		<div class="nav_z">
			<ul id="navul" class="cl">
				<li>
					<a href="#">新闻</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">视频</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">音乐</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">图片</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">购物</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">小说</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">社区</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">笑话</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">游戏</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<li>
					<a href="#">更多</a>
					<ul>
						<li><a href="#">企业文化</a></li>
						<li><a href="#">企业资质</a></li>
						<li><a href="#">服务团队</a></li>
					</ul>
				</li>
				<!--可在此处直接添加导航-->
			</ul>
		</div><!--导航结束-->
		<script  type="text/javascript"> 
		$(".navbg").capacityFixed();
		</script>

	</div>

<div style="text-align:center;margin:350px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. </p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>

</div>

</div>
</body>
</html>
